<a href="https://colab.research.google.com/github/margotbrady/DS-1002/blob/main/Copy_of_07_More_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More pandas exercises

Create a Colab notebook. Complete the tasks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

1.  Load the following dataset into Colab and perform the requested operations in code.

 Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [50]:
# Load pandas and the data
import pandas as pd
import numpy as np
data = pd.read_csv('https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv')

In [67]:
# show how many rows and columns are in this dataset
data.shape

(25760, 10)

In [52]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)
data['duration'] = data['duration'].str.strip(' minutes')
data['duration'] = data['duration'].astype('int')

In [53]:
# Now display the datatypes in the updated dataframe
data.dtypes

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [54]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.
print("The minimum ride duration is " + str(data.duration.min())+" minute(s).")
print("The maximum ride duration is " + str(data.duration.max())+" minutes.")

The minimum ride duration is 1 minute(s).
The maximum ride duration is 1372 minutes.

In [55]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.
df2=data.query('duration<=60')

In [56]:
# Now show both the min and max values of the duration column for your new dataset.
print("The minimum ride duration is " + str(df2.duration.min())+" minute(s).")
print("The maximum ride duration is " + str(df2.duration.max())+" minutes.")

The minimum ride duration is 1 minute(s).
The maximum ride duration is 60 minutes.

In [57]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.
df2 = df2.query('tire_size==26')
df2.head(10)

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_size
0,12,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male,26
3,4,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male,26
6,16,67,San Francisco Caltrain Station 2 (Townsend St...,107,17th St at Dolores St,1035,2,1981,Male,26
9,5,30,San Francisco Caltrain (Townsend St at 4th St),62,Victoria Manalo Draves Park,333,1,1994,Male,26
12,7,3,Powell St BART Station (Market St at 4th St),27,Beale St at Harrison St,1863,3,1998,Male,26
15,4,3,Powell St BART Station (Market St at 4th St),321,5th St at Folsom,1606,2,1995,Male,26
18,16,16,Steuart St at Market St,42,San Francisco City Hall (Polk St at Grove St),5000,2,2000,Female,26
21,11,67,San Francisco Caltrain Station 2 (Townsend St...,364,China Basin St at 3rd St,5055,3,1986,Male,26
24,11,3,Powell St BART Station (Market St at 4th St),109,17th St at Valencia St,4980,1,1980,Male,26
27,7,3,Powell St BART Station (Market St at 4th St),61,Howard St at 8th St,2459,2,1977,Male,26

In [58]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.

print("There are " + str(len(df2.query('user_gender == "Female"'))) +" female riders who used the 26-inch wheeled rental bikes for their rentals of one hour or less.")

There are 2962 female riders who used the 26-inch wheeled rental bikes for their rentals of one hour or less.

2. Find the file `more-messy-data.csv` on GitHub and upload it into Google Colab.

Create a new Pandas DataFrame from that data and perform the following steps.

In [59]:
# Reads the data
messydat = pd.read_csv('./more-messy-data.csv')
# counts duplicate rows
print(str(messydat.duplicated().sum())+" duplicate rows.")

287 duplicate rows.

In [60]:
# Removes all duplicates
messydat = messydat.drop_duplicates()

In [61]:
# Makes a copy in case I need to go back
messydatfilled = messydat.copy()
# Refers to all rows, but only the numeric columns regarding sepal and petal length and width, and fills the NAs with those means
messydatfilled.iloc[:,0:5]= messydatfilled.iloc[:,0:5].fillna(messydat.iloc[:,0:5].mean())

<ipython-input-61-68b4c2a99220>:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  messydatfilled.iloc[:,0:5]= messydatfilled.iloc[:,0:5].fillna(messydat.iloc[:,0:5].mean())

In [62]:
# Find any values in the dataframe that are still missing, and delete them.
cleaned=messydatfilled.copy()
#Drops remaining NAs
cleaned=cleaned.dropna()

In [63]:
# How many different species are there?
print("There are " + str(cleaned.species.describe()['unique']) + " unique species.")

There are 9 unique species.

In [64]:
# Turns all data into lower case to avoid capitalization issues
cleaned.species=cleaned.species.str.lower()
# Function to change common spelling issues in the dataset
def cleanspecies(obs):
  if 'setos' in obs:
    return 'setosa'
  elif 'virgin' in obs:
    return 'virginica'
  elif 'versicolor' in obs:
    return 'versicolor'
  else:
    # There is only one observation that wouldn't be fixed by the above rules and it was 'viginica', so by default the last option is to replace with virginica
    return 'virginica'


cleaned.species = cleaned.species.apply(cleanspecies)
print(cleaned.species.value_counts())

print("There are now " + str(cleaned.species.describe()['unique']) + " unique species.")

setosa        447
virginica     414
versicolor     26
Name: species, dtype: int64
There are now 3 unique species.

3. Bonus:  Regular expressions

Ordinary (non-vanity) Virginia license plates have the form `ABC1234`, meaning they have three upper case letters followed by four digits.  Write a regular expression that matches any string of this form (and doesn't match anything else).  Test your expression with code to make sure it works.

To figure out out how to do this, start with the sample code below.  The `re` package has various functions related to regular expressions, including for example `match()`, which takes two arguments, first the regular expression and second the test string, and tests to see whether the *beginning* of the `test` string matches the pattern `exp`.

Note that `re.match(exp,test)` does not return a boolean variable, as you might expect (in other words, a match doesn't return `True` and a non-match `False`).  The type of object you get is called `re.Match`, which is a data type special to the `re` package.  (The reason for this is that the object contains more information than just whether there is a match or not.) However, you can turn it into a boolean using `bool()` if you want.

Include the following in the notebook you submit:

 1. A regular expression in a text chunk
 2. One or more code chunks in which you test several strings to verify that your regex is correct.
 3. Make sure you display the results of testing various strings.

 See this [documentation page](https://docs.python.org/3/howto/regex.html#regex-howto) for further help.

In [65]:
import re
# [A-Z] refers to any uppercase letter, and {3} means that there must be 3 letters in a row present.
# [\d] refers to any digit 0-9, and {4} means there must be 4 digits in a row.
format = '[A-Z]{3}[\d]{4}'

In [66]:
# Here is a list of test strings to try out.

testers = ['ABC1234','mar204','xho2004','ASDFI17','MJB2004','3KLJ14']

# Here is the function for detecting if a string matches the format
def detectmatches(plate):
  if re.match(format,plate):
    print("match!")
  else:
    print("no match")
# For each string in the list, it performs the matching function on it.
for string in testers:
  detectmatches(string)

match!
no match
no match
no match
match!
no match